Octo Space invitation

{{if .InviterName}}{{.InviterName}}{{else}}An Octo admin{{end}} invites you to join the team space "{{.SpaceName}}" as {{if .IsAdmin}}an administrator{{else}}a member{{end}}.

Click the link below to accept the invitation:
{{.AcceptURL}}

If you weren't expecting this invitation, you can safely ignore this email.
